@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index'as theme with ($primary: #7ceaa4,
  $secondary: #3b3d54,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900);

@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';


* {
  box-sizing: border-box;
}


body {
  background: rgba(20, 5, 5, 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.nftwrap {
  perspective-origin: 50% 50%;
}

.nftsvg {
  stroke: theme.$primary;
  position: absolute;
  bottom: -200vh;
  transform-style: preserve-3d;
}

@for $i from 1 through 15 {
  $scale: random(2) - .4;

  .nftsvg:nth-child(#{$i}) {
    left: random(120) * 1% - 20;
    animation: raise#{$i} 6+random(15)+s linear infinite;
    animation-delay: random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    z-index: $i - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to {
        bottom: 150vh;
        transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}
